<div class="card-container">
    <div class="cards">
        <label for="" class="card-tittle">Dados do usuário</label>
        
        <div class="user-info">
            <div class="info-item">
                <label for="">Username</label>
                <div class="card">
                    <div class="card-body">
                        &#64;username
                    </div>
                </div>
            </div>

            <div class="info-item">
                <label for="">Email</label>
                <div class="card">
                    <div class="card-body">
                        email&#64;email.com
                    </div>
                </div>
            </div>
        </div>

        <div class="bio-info">
            <label for="">Bio</label>
            <div class="card">
                <div class="card-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque amet tenetur vitae accusantium
                    eveniet
                    incidunt non magni. Ad non quidem autem error accusamus dolores, voluptates perspiciatis quas qui,
                    consequatur dolor?
                </div>
            </div>
        </div>

        <div class="logout-container">
            <button class="logout-button" routerLink="/login">Sair</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>