<div class="card-container">
    <div class="cards">
        <label for="" class="card-tittle">Dados do usuário</label>
        
        <div class="user-info">
            <div class="info-item">
                <label for="">Username</label>
                <div class="card">
                    <div class="card-body">
                        &#64;{{user.nome}}
                    </div>
                </div>
            </div>

            <div class="info-item">
                <label for="">Email</label>
                <div class="card">
                    <div class="card-body">
                        {{user.email}}
                    </div>
                </div>
            </div>
        </div>

        <div class="bio-info">
            <label for="">Bio</label>
            <div class="card">
                <div class="card-body">
                    {{user.bio}}
                </div>
            </div>
        </div>

        <div class="logout-container">
            <button class="logout-button" routerLink="/login" (click)="onLogout()">Sair</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>