/* Estilos para a home */
.home-container {
    height: 92vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 161, 209); /* Fundo branco */
}

.welcome-message {
    text-align: center; /* Centraliza o texto */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: rgb(199, 213, 233);
    color: rgb(43, 88, 146);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: rgb(43, 88, 146);
}
