/* CSS para o contêiner do formulário */
.form-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa 100% da altura da viewport */
    padding: 20px; /* Espaçamento interno */
    background-color: var(--background-color-2);
}

.form-tittle{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 0;
}

.input-group{
    margin-top: 0 !important;
}

.login-component {
    width: 70%; /* Ocupa cerca de 70% da largura da página */
    max-width: 800px; /* Limita a largura máxima */
    margin: auto; /* Margens automáticas para centralizar */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: var(--card-background-color-2); /* Cor de fundo do formulário */
    color: var(--text-color-1);
}

.form-item {
    width: 100%;
}

/* CSS adicional para o botão */
.btn-primary {
    width: 100%; /* Ocupa toda a largura da coluna */
    background-color: var(--button-background-color-1);
    border-color: var(--button-background-color-1);
}

.btn-primary:hover{
    background-color: var(--button-background-color-hover-1);
    border-color: var(--button-background-color-hover-1);
}

.dropdown-color{
    background-color: var(--button-background-color-1);
    border-color: var(--button-background-color-1);
}
.dropdown-color:hover{
    background-color: var(--button-background-color-hover-1);
    border-color: var(--button-background-color-hover-1);
}

.dropdown-color:active{
    background-color: var(--button-background-color-hover-1);
    border-color: var(--button-background-color-hover-1);
}