<div class="feed-container">
    <div class="criar-post">
        <button class="btn-option" routerLink="/criar-post">Criar postagem</button>
    </div>

    <div class="posts-container">
        <div class="card post-item" *ngFor="let postagem of postagens">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">{{postagem.autor}}</h6>
                <h5 class="card-title">{{postagem.titulo}}</h5>
                <p class="card-text">{{postagem.conteudo}}</p>
            </div>
        </div>


    </div>
</div>
<router-outlet></router-outlet>