/* CSS para o contêiner do formulário */
.form-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa 100% da altura da viewport */
    padding: 20px; /* Espaçamento interno */
    background-color: var(--background-color-2);
}

.form-tittle{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 0;
}

.login-component {
    width: 70%; /* Ocupa cerca de 70% da largura da página */
    max-width: 800px; /* Limita a largura máxima */
    margin: auto; /* Margens automáticas para centralizar */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: var(--card-background-color-2); /* Cor de fundo do formulário */
    color: var(--text-color-1);
}

.form-item {
    width: 100%;
}

/* CSS adicional para o botão */
.btn-primary {
    width: 100%; /* Ocupa toda a largura da coluna */
    background-color: var(--button-background-color-1);
    border-color: var(--button-background-color-1);
}
.btn-primary:hover {
    width: 100%; /* Ocupa toda a largura da coluna */
    background-color: var(--button-background-color-hover-1);
    border-color: var(--button-background-color-1);
}
.btn-primary:active {
    width: 100%; /* Ocupa toda a largura da coluna */
    background-color: var(--button-background-color-hover-1);
    border-color: var(--button-background-color-1);
}

.link-criarConta {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    text-decoration: underline; /* Adiciona o sublinhado */
    text-decoration-thickness: 1px; /* Define a espessura do sublinhado */
    text-underline-offset: 2px; /* Define a distância entre o texto e o sublinhado */
    color: inherit; /* Herda a cor do texto do elemento pai */
    cursor: pointer; /* Altera o cursor para o pointer */
}

.link-criarConta:hover {
    border-bottom-color: var(--button-background-color-1); /* Altera a cor do sublinhado ao passar o mouse */
    color: var(--button-background-color-1); /* Altera a cor do texto ao passar o mouse */
}
