nav{
    height: 8vh;
    background-color: var(--background-color-2);
}

.navbar-brand{
    font-weight: 700;

}

a {
    color: var(--text-color-2) !important;
    font-weight: 500;
}

a:hover{
    color: var(--button-color-hover-1) !important;

}